*{
  margin:0;
  word-break: break-all;
}
li {
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

#container{
  min-width: 800px;
  width: 1200px;
  height:800px;
}

#nav {
  padding-left:85%;
  height:50px;
}
#nav li{
  display: inline-block;
}

#content{
  height: 80%;
  width: 100%;
}

#menu{
  position: absolute;
  width:200px;
  min-height:;
}
#main{
  position: relative;
  margin-left:300px;
  width: 80%;
}
#footer{
  width:1000px;
  margin:0 auto;
}
#footer .wrap{
  width: 100%;
}
#footer a{
  color: #888;
font-size: 12px;
text-align: center;
}
