<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="complex.css">
</head>
<body>
	<div id="contianer">
		<div id="header" >
			<div class="default" id="logo">LOGO</div>
			<div class="default banner" id="banner1">Banner1</div>
			<div class="default banner" id="banner2">Banner2</div>
		</div>
		<div id="nav" class="default">
			水平导航条
		</div>
		<div id="main">
			<div id="left">
				<div class="col col1">栏目一</div>
				<div class="col col1">栏目二</div>
				<div class="col col2 first">栏目三</div>
				<div class="col col2 ">栏目四</div>
				<div class="col col2 ">栏目五</div>
				<div class="col col2 ">栏目六</div>
			</div>
			<div id="right">
				<div class="col col3">栏目七</div>
				<div class="col col3">栏目八</div>
				<div class="col col3">栏目九</div>
			</div>
		</div>
		<div id="footer" class="default">
			页脚
		</div>
	</div>
</body>
</html>