<!DOCTYPE html>
<html>

<head>
	<title>左侧菜单栏-右边主页面布局</title>
	<link rel="stylesheet" type="text/css" href="2col.css">
	<meta charset="utf-8">
</head>

<body>
	<div id="container">
		<div id="nav">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">介绍</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
		</div>
		<div id="content">

		<div id="menu">
			<ul>
				<li><a href="#">用户查询</a></li>
				<li><a href="#">发布公告</a></li>
			</ul>
		</div>
		<div id="main">
			<section>
				<h1>研究报告显示“医闹”降低考生报考医学专业意愿</h1>
				<p>广州暨南大学的研究团队日前发布一份报告，分析了内地医闹问题对于未来医生供给的数量和质量的影响。 报告统计了全国三百三十个城市从2000年至2012年间发生的医闹事件以及因此造成的伤亡人数，并且梳理了同期的高考录取数据，通过比较医闹频率以及被录取到医学专业的考生佔比的差值，来找到医闹事件对未来医生质量的影响。结果显示，省级医闹的严重程度每上升一个单位，考生选择读医的比例会下降0.56-1.7个百分点，医学专业平均入学分数会降低0.72分，由此可以发现，医学生的人数和质量或许正在下降。值得注意的是，世界顶尖医学杂志《柳叶刀》2016年的一篇文章也指出，2005年至2015年间，中国培养了五年制和七年制的医学生共计四百七十万人，但医生总数只增加了七十五万。医生流失加速已经是不争的事实。
					报告认为，即使医闹增多、医生职业风险增大，但由于政府对医生薪酬、药品价格和治疗费用等实行严格管控，中国医生的薪酬并未获得实质提高。职业风险得不到补偿，人们从事相关职业的意愿被削弱，社会上医生的数量和质量显著降低，因此带来的后果是诊疗效果越来越差，从来导致医患关系陷入恶性循环。
				</p>
			</section>
		</div>
		</div>
		<div id="footer">
			<div class="wrap">

			<span>
				<a href="#">帮助</a>
			</span>

			<span><a href="#">举报</a></span>
			<span><a href="#">给百度提建议</a></span>
		</div>
		</div>
	</div>
</body>

</html>
