*{
	margin:0px;
	padding: 0px;
	text-align: center;
	box-sizing: border-box;
}
#header{
	height: 100px;
}
.banner{
	width: 33%;
	height: 100%;
	margin-left:0.5%;
	float: left;
	background-color: #ddd;
}
.banner:first-child{
	margin-left: 0;
}

#nav,#footer{
	background-color: #ddd;
	width: 100%;
	height: 30px;
	margin-top: 5px;
}
#main{
	width: 100%;
	height: 600px;
	margin-top:5px;
}
#main>div{
	height: 100%;
	float:left;
}
#left{
	width:69.5%;
	margin-right: 0.5%;
}
#right{
	width:30%;
}
.col{
	border:1px solid #999;
}

.col3{
	width: 100%;
	height: 33%;
	margin-top: 0.5%;
}
.col3:first-child{
	margin-top: 0;
}
#left .col{
	float: left;
}
.col1{
	width: 49.5%;
	height: 300px;
}
.col1:first-child{
	margin-right: 0.5%;
}
.col2{
	width: 24.5%;
	height: 295px;
	margin-left:0.5%;
	margin-top: 5px; 
}
.first{
	margin-left: 0;
}