<!DOCTYPE html>
<html>
<head>
	<title>vue入门</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style type="text/css">
		.recommened{
			color:red;
		}
		[type=number]{
			width: 30px;
		}
	</style>
</head>
<body>
<div id="app">
	<h1>{{resturant.name}} 欢迎您，请点餐</h1>
	<ul>
		<li  v-for="(dish,i) in dishes" v-bind:title="dish.intro">
			<sup class="recommened" v-if="dish.recommened">❤</sup>{{dish.name}}  
			原价<del>{{dish.price}}</del> 
			现价：{{currentPrice[i]}}
			<input type="number" min="0" v-model="dish.count">
		</li>
	</ul>
	<div>总价：{{totalAmount}}</div>
</div>

<div class="intro">
	<h2>vue的模板语法</h2>
	<ul>
		<li>插值  {{resturant.name}} 双向数据绑定</li>
		<li>指令  &lt;li v-for="dish in dishes"  v-bind:title="dish.intro"&gt;
			<ul>
				<li>v-bind: 绑定html属性 缩写为 <strong>：属性名</strong></li>
				<li>v-if：分支</li>
				<li>v-for：循环</li>
				<li>v-on： 监听DOM事件 缩写为<strong>@事件名</strong></li>
			</ul>
		</li>
	</ul>
</div>

<script type="text/javascript">
	var app = new Vue({
		el:"#app",
		data:{
			resturant:{name:"美好餐馆",level:"5"},
			dishes:[
				{name:"鱼香肉丝",price:22.00,intro:"川味经典鱼香口，欢迎品尝",recommened:true,discount:0.8,count:0},
				{name:"火锅米线",price:12.00,intro:"浓墨重彩，轻巧尝鲜",count:0},
				{name:"红烧牛肉",price:32.00,intro:"经典味道，值得品尝",count:0,recommened:true}
			],
		},
		//计算属性
		computed:{
			currentPrice:function(){
				return this.dishes.map(function(d){
					var fDiscount = d.discount?d.discount:1;
					return d.price*fDiscount;				
				});
			},
			totalAmount:function(){
				var total = 0;
				this.dishes.forEach(function(d){
					var fDiscount = d.discount?d.discount:1;
					total+=d.price*fDiscount*d.count;
				});

				return total;
			}
		},
		methods:{
			//共用的方法
		}
	});
</script>
</body>
</html>