<!DOCTYPE html>
<html>
<head>
	<title>vue入门</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style type="text/css">
		.recommened{
			color:red;
		}
		[type=number]{
			width: 30px;
		}
	</style>
</head>
<body>
<div id="app">
	<h1>{{resturant.name}} 欢迎您，请点餐</h1>
	<ul>
		<li  v-for="dish in dishes" v-bind:title="dish.intro">
			<sup class="recommened" v-if="dish.recommened">❤</sup>{{dish.name}}  
			原价<del>{{dish.price}}</del> 
			现价：{{calcDiscount(dish.price,dish.discount)}}
			<input type="number" value="0" v-bind:data="calcDiscount(dish.price,dish.discount)" @change="calcTotal">
		</li>
	</ul>
	<div>总价：{{totalAmount}}</div>
</div>

<div class="intro">
	<h2>vue的模板语法</h2>
	<ul>
		<li>插值  {{resturant.name}}</li>
		<li>指令  &lt;li v-for="dish in dishes"  v-bind:title="dish.intro"&gt;
			<ul>
				<li>v-bind: 绑定html属性 缩写为 <strong>：属性名</strong></li>
				<li>v-if：分支</li>
				<li>v-for：循环</li>
				<li>v-on： 监听DOM事件 缩写为<strong>@事件名</strong></li>
			</ul>

		</li>
	</ul>
</div>

<script type="text/javascript">
	var app = new Vue({
		el:"#app",
		data:{
			resturant:{name:"美好餐馆",level:"5"},
			dishes:[
				{name:"鱼香肉丝",price:22.00,intro:"川味经典鱼香口，欢迎品尝",recommened:true,discount:0.8},
				{name:"火锅米线",price:12.00,intro:"浓墨重彩，轻巧尝鲜"},
				{name:"红烧牛肉",price:32.00,intro:"经典味道，值得品尝",recommened:true}
			],
			totalAmount:0
		},
		computed:{

		},
		methods:{
			calcDiscount:function(orginal,discount){
				var fDiscount = discount?discount:1;
				return orginal*fDiscount;
			},
			calcTotal:function(e){
				var input = e.target;
				var price = input.getAttribute("data")
				var count =input.value;
				this.totalAmount+=price*count;
			},
			findByName:function(name){
				for (var i = this.dishes.length - 1; i >= 0; i--) {
					if(this.dishes[i].name===name){
						return this.dishes[i];
					}
				}
			}
		}
	});
</script>
</body>
</html>